.fa-user-md{
 font-size: 11px;
}

.fp{
    font-size: 0.8rem;
    font-weight: 600;
    
}
.fpcopy{
    font-size: 0.8rem;
    
    
}

.fas{
    font-size: 1rem;
    
}

.fa-at{
  color: #009999;
}

.fa-mobile-alt{
    color: #4d759e;
}