.fa-user-md{
 font-size: 11px;
}

.fp{
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 10px;
    color: #cde2f5;
    
}
.fpcopy{
    font-size: 0.8rem;
    margin-left: 10px;
    
}

.fas{
    font-size: 1rem;
    
}

.fa-at{
  color: #1b4772;
}

.fa-mobile-alt{
    color: #1b4772;
}

.fcard{
    padding-top: 10px;
    
}